.cartItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  flex: 1;
  height: 100%;
}
.cartItem {
  display: flex;
  justify-content: space-between;

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  &__icon {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
.cartItems__total {
  padding: 20px;
}
.cartItems__total--h3 {
  display: flex;
  justify-content: space-between;
}
