.pageAbout {
  background: #f3e4e1;

  &__content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.bold {
  font-weight: 700;
}
.about__founder {
  text-align: center;
}

.about__founder > * {
  padding-top: 10px;
}
